<div class="swiper-container product-swiper">
  <div class="swiper-wrapper">
    <!-- Loop through products and display each one in a slide -->
    <div *ngFor="let product of products" class="swiper-slide">
      <app-single-product [product]="product"></app-single-product>
    </div>
  </div>
  <!-- Remove these lines to exclude navigation arrows -->
  <!-- <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> -->
  <!-- Optional: Pagination -->
  <div class="swiper-pagination"></div>
</div>
