<!-- src/app/components/products/products.component.html -->

<section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
  <div class="container">
    <div class="row">
      <div class="display-header d-flex justify-content-between pb-3">
        <h2 class="display-7 text-dark text-uppercase">Mobile Products</h2>
        <div class="btn-right">
          <a href="shop.html" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
        </div>
      </div>
      <div class="swiper product-swiper">
        <div class="swiper-wrapper">
          <!-- Loop through products and display each one in a slide -->
          <div *ngFor="let product of products" class="swiper-slide">
            <div class="product-card position-relative">
              <app-single-product [product]="product"></app-single-product>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination position-absolute text-center"></div>
</section>
