<section class="signup" style="padding-top: 100px;">
  <div class="container">
    <div class="signup-content">
      <div class="signup-form">
        <h2 class="form-title">Sign up</h2>
        <form class="register-form" id="register-form" method="POST">
          <div class="form-group">
            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input id="name" name="name" placeholder="Your Name" type="text"/>
          </div>
          <div class="form-group">
            <label for="email"><i class="zmdi zmdi-email"></i></label>
            <input id="email" name="email" placeholder="Your Email" type="email"/>
          </div>
          <div class="form-group">
            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
            <input id="pass" name="pass" placeholder="Password" type="password"/>
          </div>
          <div class="form-group">
            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
            <input id="re_pass" name="re_pass" placeholder="Repeat your password" type="password"/>
          </div>
          <div class="form-group">
            <input class="agree-term" id="agree-term" name="agree-term" type="checkbox"/>
            <label class="label-agree-term" for="agree-term"><span><span></span></span>I agree all statements in <a
              class="term-service" href="#">Terms of service</a></label>
          </div>
          <div class="form-group form-button">
            <input class="form-submit" id="signup" name="signup" type="submit" value="Register"/>
          </div>
        </form>
      </div>
      <div class="signup-image">
        <figure><img alt="sing up image" src="../assets/images/signup-image.jpg"></figure>
        <a class="signup-image-link" href="#">I am already member</a>
      </div>
    </div>
  </div>
</section>
