<!-- src/app/components/signup/signup.component.html -->
<section class="signup" style="padding-top: 100px;">
  <div class="container">
    <div class="signup-content">
      <div class="signup-form">
        <h2 class="form-title">Sign up</h2>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <div class="form-group">
            <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input id="username" formControlName="username" placeholder="Your Name" type="text"/>
            <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
              <small class="error">Username is required and should be at least 3 characters long.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="email"><i class="zmdi zmdi-email"></i></label>
            <input id="email" formControlName="email" placeholder="Your Email" type="email"/>
            <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
              <small class="error">Please enter a valid email address.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="password"><i class="zmdi zmdi-lock"></i></label>
            <input id="password" formControlName="password" placeholder="Password" type="password"/>
            <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
              <small class="error">Password must be 6-12 characters long and include a digit, an uppercase letter, a lowercase letter, and a special character.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="rePassword"><i class="zmdi zmdi-lock-outline"></i></label>
            <input id="rePassword" formControlName="rePassword" placeholder="Repeat your password" type="password"/>
            <div *ngIf="signupForm.errors?.['mismatch']">
              <small class="error">Passwords do not match.</small>
            </div>
          </div>
          <div class="form-group">
            <input class="agree-term" id="agree-term" type="checkbox"/>
            <label class="label-agree-term" for="agree-term"><span><span></span></span>I agree all statements in <a class="term-service" href="#">Terms of service</a></label>
          </div>
          <div class="form-group form-button">
            <input class="form-submit" id="signup" type="submit" value="Register"/>
          </div>
        </form>
      </div>
      <div class="signup-image">
        <figure><img alt="sign up image" src="../assets/images/signup-image.jpg"></figure>
        <a class="signup-image-link" href="#">I am already a member</a>
      </div>
    </div>
  </div>
</section>
