<section class="position-relative overflow-hidden bg-light-blue" id="billboard">
  <div class="swiper main-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <div class="banner-content">
                <h1 class="display-2 text-uppercase text-dark pb-5">Compari & Profiti !</h1>
              </div>
            </div>
            <div class="col-md-5">
              <div class="image-holder">
                <img alt="banner" src="../assets/images/COMPARILOGONEW.png" height="600px">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex flex-wrap align-items-center">
            <div class="col-md-6">
              <div class="banner-content">
                <h1 class="display-2 text-uppercase text-dark pb-5">TEST02</h1>
                <a class="btn btn-medium btn-dark text-uppercase btn-rounded-none" href="shop.html">Shop Product</a>
              </div>
            </div>
            <div class="col-md-5">
              <div class="image-holder">
                <img alt="banner" src="../assets/images/COMPARILOGONEW.png"  height="600px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-icon swiper-arrow swiper-arrow-prev">
    <svg class="chevron-left">
      <use xlink:href="#chevron-left"/>
    </svg>
  </div>
  <div class="swiper-icon swiper-arrow swiper-arrow-next">
    <svg class="chevron-right">
      <use xlink:href="#chevron-right"/>
    </svg>
  </div>
</section>
