<div class="search-popup">
  <div class="search-popup-container">

    <form action="" class="search-form" method="get" role="search">
      <input class="search-field" id="search-form" name="s" placeholder="Type and press enter" type="search" value=""/>
      <button class="search-submit" type="submit">
        <svg class="search">
          <use xlink:href="#search"></use>
        </svg>
      </button>
    </form>

    <h5 class="cat-list-title">Browse Categories</h5>

    <ul class="cat-list">
      <li class="cat-list-item">
        <a href="#" title="Mobile Phones">Mobile Phones</a>
      </li>
      <li class="cat-list-item">
        <a href="#" title="Smart Watches">Smart Watches</a>
      </li>
      <li class="cat-list-item">
        <a href="#" title="Headphones">Headphones</a>
      </li>
      <li class="cat-list-item">
        <a href="#" title="Accessories">Accessories</a>
      </li>
      <li class="cat-list-item">
        <a href="#" title="Monitors">Monitors</a>
      </li>
      <li class="cat-list-item">
        <a href="#" title="Speakers">Speakers</a>
      </li>
      <li class="cat-list-item">
        <a href="#" title="Memory Cards">Memory Cards</a>
      </li>
    </ul>

  </div>
</div>
