.wishlist-content {
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 400px;
  overflow-y: auto;
}

.wishlist-content h4 {
  margin-top: 0;
}

.wishlist-content ul {
  list-style-type: none;
  padding: 0;
}

.wishlist-content li {
  margin-bottom: 10px;
}
