<header class="site-header header-scrolled position-fixed text-black bg-light" id="header">
  <nav class="navbar navbar-expand-lg px-3 mb-3" id="header-nav">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img class="logo" src="../assets/images/COMPARILOGOBLACK.png" height="50px">

      </a>
      <button aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler d-flex d-lg-none order-3 p-2" data-bs-target="#bdNavbar" data-bs-toggle="offcanvas"
              type="button">
        <svg class="navbar-icon">
          <use xlink:routerLink="#navbar-icon"></use>
        </svg>
      </button>
      <div aria-labelledby="bdNavbarOffcanvasLabel" class="offcanvas offcanvas-end" id="bdNavbar" tabindex="-1">
        <div class="offcanvas-header px-4 pb-0">
          <a class="navbar-brand" routerLink="index.html">
            <img class="logo" src="../assets/images/main-logo.png">
          </a>
          <button aria-label="Close" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                  data-bs-target="#bdNavbar"
                  type="button"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3" id="navbar">
            <li class="nav-item">
              <a class="nav-link me-4 active" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-4" href="#company-services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-4" href="#mobile-products">Products</a>
            </li>

            <li class="nav-item">
              <a class="nav-link me-4" href="#yearly-sale">Sale</a>
            </li>

            <li class="nav-item">
              <div class="user-items ps-5">
                <ul class="d-flex justify-content-end list-unstyled">
                  <li class="search-item pe-3">
                    <a class="search-button" routerLink="#">
                      <svg class="search">
                        <use xlink:href="#search"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="pe-3">
                    <a routerLink="login">
                      <svg class="user">
                        <use xlink:href="#user"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a routerLink="cart.html">
                      <svg class="cart">
                        <use xlink:href="#cart"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
