
<!-- ======= Sidebar ======= -->
<app-sidebar></app-sidebar>
<!-- End Sidebar-->
<main class="main" id="main">
  <app-page-title></app-page-title>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-8">
        <app-cards></app-cards>
        <!-- Reports -->
        <div class="row">
          <app-reports></app-reports>
          <!-- End Reports -->
          <!-- Top Selling -->
          <app-top-liked></app-top-liked>
          <!-- End Top Selling -->
        </div>
      </div>
      <!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">
        <!-- Recent Activity -->
        <app-recent-activity></app-recent-activity>
        <!-- End Recent Activity -->

 

        <!-- Website Traffic -->
        <app-traffic-report></app-traffic-report>
        <!-- End Website Traffic -->
      </div>
      <!-- End Right side columns -->
    </div>
  </section>
</main>
<!-- End #main -->